body {background-color:black;}
h1{color:black;
font-family: Verdana, Arial, Helvetica, sans-serif;
}
 
.maindiv{
    background-color: white;
    color: black;
    width: 480px;
    height: 210px;
    padding: 20px;
    border-radius: 30px;
    margin: auto;
}


